@import "tailwindcss";
html, body {
  font-family: -apple-system, BlinkMacSystemFont, "SF Pro", "Segoe UI", Roboto, sans-serif;
}
.container {
  @apply w-full mx-auto 
         max-w-[1320px]
         xl:max-w-[1140px]
         lg:max-w-[960px]
         md:max-w-[720px]
         sm:max-w-full
         px-6;
}
.swiper-pagination-bullet {
  background-color: #ccc;
}

.swiper-pagination-bullet-active {
  background-color: #FF9529;
}

